.bottom {
  // transform: translateY(10px);
  position: relative;
  top: 10px;
  z-index: 5;
  height: 50%;
  width: 50vw;
  display: flex;

  margin: auto;
  flex-direction: column;

  form {
    // position: absolute;
    z-index: 4;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .searchBtn {
      height: 40px;
      width: 40px;
      color: white;
      border-radius: 8px;
    }

    &>div {
      height: 40px;
      width: 40px;
      border-radius: 8px;
    }

    &>div>button {
      border-radius: 8px;
    }

    &>input {
      height: 40px;
      width: 100%;
      padding: 10px;
      border-radius: 8px;
    }

    input::placeholder {
      font-size: 20px;
    }
  }
}

.holdItemsFound {
  position: absolute;
  z-index: 4;
  min-width: 300px;
  height: 300px;
  overflow: auto;
  top: 45px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.itemsFound {
  font-size: 11px;
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 20px;
  height: 40px;
  width: 100%;
  border: 1px rgb(199, 199, 199) solid;
  background-color: white;
}

.imgFound {
  height: 100%;
  width: 30px;
}

.imgCompanyFound {
  height: 30px;
  width: 90px;
  position: absolute;
  left: 5px;
  object-fit: contain;
}

.itemsFound:hover {
  background-color: rgb(227, 227, 227);
}

.dismissArea {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  transition: backdrop-filter 0.4s ease-in-out, background-color 0.4s ease-in-out;
  backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0.0);
  transform: scale(0);
}

.dismissArea.dismissAreaActive{
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1);
}


@media (width < 800px) {
  .imgCompanyFound {
    width: 40px;
  }
}