.main {
    cursor: pointer;
    height: 25vw;
    max-height: 250px;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main:hover {
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

}

.main:hover>.holdImg>img {
    scale: 1.1;
    opacity: 0.8;
}

.holdImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 100%;
    max-width: 250px;
}

.holdImg>img {
    transition: all 0.3s ease-in-out;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.holdText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
}

@media (width < 435px) {
    .main {
        min-height: 100px;
        height: 25vh;
        font-size: small;
    }
}