.main {
  width: 250px;
  height: 700px;
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
  position: fixed;
  top: 200px;
  z-index: 4;
}
.byPrice {
  height: 25%;
  padding:10px;
  width: 100%;
  // background-color: rgb(225, 197, 197);
}
.btnShow{
  position: fixed;
  z-index: 5;
  top:100px;
  right: 20px;
  cursor: pointer;
width: 30px; 
height: 30px;
// background-color: black;
// color: yellow;

}
.title{
  text-decoration:underline;
  font-size: 18px;
  font-weight: 600;
}
.selectCompany {
  height: 75%;
  border-top:1px solid black ;
  // background-color: rgb(207, 207, 252);
  padding: 10px;
  overflow: auto;
}

.holdCheckBox > div > input[type="checkbox"] {
  opacity: 0;
  display: none;
  position: absolute;
  cursor: pointer;
}
.holdCheckBox {
  display: flex;
  // align-items: center;
  flex-direction: column;
  gap: 10px;
}
.holdCheckBox > div > label {
  cursor: pointer;
  display: flex;
}
.holdCheckBox > div > label::before {
  content: "";
  width: 1em;
  height: 1em;
  border: solid black 0.05em;
  border-radius: 0.15em;
}

.holdCheckBox > div > input[type="checkbox"]:checked + label::before {
  content: "\2714";
  background-color: #000000;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.range{
  -webkit-appearance: none;
  background-color: rgb(213, 213, 213);
  border-radius: 25px;
  width: 200px; /* הגדר רוחב ל-range input */
  box-shadow: 2px 2px 2px  rgb(195, 195, 195);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  box-shadow: 2px 2px 2px  rgb(195, 195, 195);
  border: 5px solid rgb(232, 206, 12);
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}

.mainBig{
  display: none;

}
@media (width > 1000px) {
  .mainBig{
      display: block;
  }
  .btnShow , .main{
    display: none;
  }
}